html {
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

footer,
section {
  padding: 5rem;
  max-width: 96rem;
  margin: 0 auto;
}

footer {
  flex-direction: column;
}

h2 {
  font-size: 4rem;
}

.inspecionar {
  border: 5px solid red;
}

.items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 2rem 6rem;
}

.main {
  margin-bottom: 5rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1.8rem;
}

.avatar {
  border-radius: 100%;
  width: 24rem;
  height: 24rem;
  margin-right: 10rem;
}

.main-title {
  font-size: 4rem;
}

.main-description {
  margin: 4rem 0;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.button {
  border-radius: 0.2rem;
  background-color: #0039cc;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 2rem;
}

.about {
  background-color: #162340;
}

.project {
  margin: 4rem 0;
}

.project-image {
  width: 24rem;
  height: auto;
  margin-right: 2.5rem;
  border-radius: 0.6rem;
}

.project-title {
  font-size: 3rem;
}

.footer-social {
  display: flex;
  gap: 2rem;
}

.footer-social img {
  width: 4rem;
}

@media (max-width: 1200px) {
  .items-center {
    flex-direction: column;
  }

  footer,
  section {
    padding: 5rem;
  }

  .main {
    margin-bottom: 2rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .nav-links {
    justify-content: center;
  }

  .avatar {
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
  }
}
